.table {
    margin-top: 20px;
    overflow: scroll;
    color: #ffffff;
    background-color: #525252;
    height: 400px;
  }
  .table::-webkit-scrollbar {
    display: none;
  }
  .table {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .table tr {
    display: flex;
    justify-content: space-between;
  }
  
  .table td {
    padding: 0.5rem;
    border: none;
  }
  
  .table tr:nth-of-type(odd) {
    background-color: #4b4b4b;
  }